body {
    text-align: center;
    vertical-align: middle;
    background: url(background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header
{
	color: red;
    font-weight: bolder;
    font-family: serif;
    font-size: 60px;
    text-decoration: brown;
    text-decoration-line: underline;
    text-decoration-style: double;
}